@page "/akrihw"

@inject AkriHelloWorldClient akriClient

<PageTitle>AkriHelloWorldClient</PageTitle>

<h1>AkriHelloWorldClient</h1>

<p>This component demonstrates showing data loaded from a backend MQTT API service.</p>

@if (helloMessage == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @helloMessage
}

@code {
    private string? helloMessage;

    protected override async Task OnInitializedAsync()
    {
        helloMessage = await akriClient.HiRido();
    }
}
