@page "/rpccounter"

@rendermode InteractiveServer

@inject CounterClient CounterClient

<PageTitle>Rpc Counter</PageTitle>

<h1>Rpc Counter</h1>

<p role="status">Rpc Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementRpcCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        if (currentCount == 0)
        {
            var resp = await CounterClient.ReadCounterAsync("AkriAspireDemo.AkriHelloWorld");
            currentCount = resp.CounterResponse;
        }
    }

    private async void IncrementRpcCount()
    {
        var incResp = await CounterClient.IncrementAsync("AkriAspireDemo.AkriHelloWorld");
        currentCount = incResp.CounterResponse;
    }
}
